
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideDown{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes slide{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

.heading{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(16, 16, 16);
}

nav{
    display: flex;
    width: 84%;
    height: 27%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    background: orange;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    background: orange;

}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: rgb(0, 0, 0);   
    padding: 10px 18px;
    border-radius: 7px;

}

nav ul li a:hover{
    background:rgba(251, 251, 251, 0.885);
    color: black;
    box-shadow: 0 0 20px rgb(1, 0, 0);
    
}


nav .logo:hover{
    animation: slideDown 2.5s; 
    cursor: pointer;
}

.detail{
    margin-left: 8%;
    margin-top: 5%;
    
}

.detail h1{
    font-size: 50px;
    color: #ffffff;


}

span{
    color: rgb(255, 179, 37);
    font-family: 'Shadows Into Light', cursive;
}

.detail p{
    color: #fafafa;
    line-height: 22px;
    font-size: large;
    font-family: 'Salsa', cursive;
    animation: fadeIn 3.5s;
}

.detail a{
    background: orange;
    padding: 10px 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
    font-size: large;
}

.detail a:hover{
    background: white;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.images{
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 80px;

}

.images img{
    height: 90%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    
}

.images .shape{
    animation: fadeIn 3s;
    opacity: 0.75;
}

.images:hover .photo{
    left: 42%;
    cursor: pointer;
}

.resume img{
    margin-left: 25%;
    bottom: 0;
    max-width: 100%;
}

.tables{
    color: orange;
    background: rgb(255, 255, 255);
    padding: 1px;
    text-align: center;
    box-shadow: 0 0 20px rgb(255, 171, 53);
    width: 80%;
}

.tr1{
    background-color: rgb(0, 0, 0);
    color: orange;
    padding: 1px;
}

.tr{
    background-color: black;
    color: #ffffff;
    padding: 1px;
    
}

.tables td{
    padding: 7px;
    font-family: 'Salsa', cursive;
}

.tables th{
    padding: 7px;
    font-size: large;
}

.tables:hover{
    box-shadow: 0 0 30px rgb(255, 255, 255);

}

.name{
    font-size: large;
}

.education{
    color: #ffffff;
}

.fa-phone{
    font-size: 30px;
}

.fa-envelope{
    font-size: 30px;

}

.icons h1{
    font-size: 50px;
    color: #ffffff;


}

.icons{
    margin-left: 8%;
    margin-top: 5%;
    
}

.icons p{
    color: #fafafa;
    line-height: 22px;
    font-size: large;
    animation: fadeIn 2s;
}

.icons a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 5px;
    font-size: large;
    
}

.icons ul a:hover{
    color: rgba(0, 127, 231, 0.967);

}

.icons ul{
    background: rgba(58, 58, 58, 0.66);
    padding: 10px;
    margin-right: 8%;
    animation: fadeIn 3s;
    border-radius: 10px;
}

.icons ul:hover{
    box-shadow: 0 0 20px orange;
    
}

.detail ul{
    background: rgba(58, 58, 58, 0.66);
    padding: 10px;
    margin-right: 8%;
    border-radius: 10px;
}

.detail ul:hover{
    cursor: pointer;
    box-shadow: 0 0 20px orange;
}

